<ion-view view-title="{{selectedTeam.name}}">
  <ion-content class="container">
    <h1>{{selectedTeam.name}}</h1>
    <ion-list>
      <ion-item ng-repeat="player in playerData" href="#/app/player/{{player.id}}" ng-click="setPlayer('{{player.id}}')">
        <h3>{{player.player.name}}</h3>
        <div class="row">
          <div class="col-xs-8"><p>Test text</p></div>
          <div class="col-xs-4">
            <img class="team-list" src="img/sports/basketball.png">
          </div>
        </div>
      </ion-item>
      <ion-item class="padding" ng-click="addPlayer()">
        Add Player
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
